<!DOCTYPE html>
<html lang="en" ng-app="RamdosApp">
  <head>
    <meta charset="utf-8">
    <title>ramdos</title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/ramdos.css" rel="stylesheet">
  <body>
    <div class="nav-view" ng-controller="NavController">
      <ul>
        <li ng-repeat="item in navItems"><a href="{{ item.href }}">{{ item.label }}</a></li>
      </ul>
    </div>
    <div id="search" class="primary search-view" ng-controller="SearchController">
      <input type="text" autofocus
             ng-model="query"
             placeholder="search for eg. 'laundry', 'meeting', 'taxes', 'John'...">

      <p>The current query is: {{ query }}</p>
    </div>
    <div id="graph" class="primary graph-view" ng-controller="GraphController">
      <h1>Graph View</h1>
      <div ifd="graph-canvas">
      </div>
    </div>
    <!-- must be below all other div.primary elements in the document -->
    <div id="nullstate" class="primary nullstate-view" ng-controller="NullStateController">
      <p>Please choose from the menu above.</p>
    </div>
    <script src="js/zepto.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/springy/springy.js"></script>
    <!-- This jQuery redefinition needs to be after angular but before springyui -->
    <script>jQuery = Zepto;</script>
    <script src="bower_components/springy/springyui.js"></script>
    <script src="bower_components/ramda/ramda.js"></script>
    <script src="js/ramdos.js"></script>
